<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body">
                    <h4>Search</h4>
                    <form [formGroup]="form" (ngSubmit)="search()">
                        <div class="input-group mb-3">
                            <input formControlName="query" class="form-control" type="text"
                                placeholder="Enter your search...">
                        </div>
                        <div class="d-grid gap-2 ">
                            <button type="submit" class="btn btn-success">
                                <i class="fas fa-search"></i>&nbsp;&nbsp;Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body">
                    <h4>Documents</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let document of documentList">
                                <td>{{document.id}}</td>
                                <td>{{document.documentName}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>